# SSH Config for agentic-platform-k8s Cluster
# Generated automatically by Terraform

Host agentic-platform-k8s-bastion
  HostName 54.211.81.253
  User ubuntu
  IdentityFile ~/.ssh/lw.pem
  ForwardAgent yes
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null


Host agentic-platform-k8s-controller-0
  HostName 10.0.101.10
  User ubuntu
  IdentityFile ~/.ssh/lw.pem
  ProxyJump agentic-platform-k8s-bastion
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null




