CLUSTER_NAME=${cluster_name}
K8S_FULL_PATCH_VERSION=${k8s_full_patch_version}
POD_CIDR_BLOCK=${pod_cidr_block}
SERVICE_CIDR_BLOCK=${service_cidr_block}
SSM_JOIN_COMMAND_PATH=${ssm_join_command_path}
SSM_CERTIFICATE_KEY_PATH=${ssm_certificate_key_path}
AWS_REGION=${aws_region}
BUCKET_NAME=${bucket_name}
WAIT_INTERVAL=${wait_interval}
SCRIPT_DIR=${script_dir}
JOIN_CMD_SUFFIX=${join_cmd_suffix}
