VPC_ID=${vpc_id}
SUBNET_IDS="${subnet_ids}"
USE_ROUTE53=${use_route53}
INSTANCE_REGION=${aws_region}
API_DNS_NAME=${api_dns_name}
CLUSTER_DOMAIN=${cluster_domain}
HOSTED_ZONE_ID=${hosted_zone_id}
NLB_ARN=${nlb_arn}
TARGET_GROUP_ARN=${target_group_arn}
API_PORT=${api_port}
